<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<div layout:fragment="content">
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">ID</th>
                <th scope="col">Имя</th>
                <th scope="col">Фамилия</th>
                <th scope="col">Серия</th>
                <th scope="col">Номер</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="check, iterator: ${workerDto}">
                <th scope="row" th:text="${iterator.index} + 1"/>
                <td th:text="${check.id}"/>
                <td th:text="${check.firstName}"/>
                <td th:text="${check.lastName}"/>
                <td th:text="${check.serial}"/>
                <td th:text="${check.number}"/>

            </tr>
            </tbody>
        </table>
    </div>

    <form action="#" th:action="@{/check}" method="get">
        <label class="form-label">Город</label>
        <select id="cityName" class="form-select" th:name="cityName">
            <option
                    th:each="city: ${cities}" th:selected="${cityName} == ${city.name}"><span
                    th:text="${city.name}"></span>
            </option>
        </select>
        
        <div class="mb-3">
            <label for="serial" class="form-label">Номер серии</label>
            <input type="text" class="form-control" id="serial" th:name="serial" th:value="${serial}" required="true">
        </div>

        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
</div>
</body>
</html>