<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<div layout:fragment="content">
    <div>
        <a class="btn btn-success button-fixed"
           th:href="@{/worker/edit/}">
            <i class="fa-solid fa-plus"></i> Добавить
        </a>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">ID</th>
                <th scope="col">Имя</th>
                <th scope="col">Фамилия</th>
                <th scope="col">Серия</th>
                <th scope="col">Номер</th>
                <th scope="col">Город</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="worker, iterator: ${workers}">
                <th scope="row" th:text="${iterator.index} + 1"/>
                <td th:text="${worker.id}"/>
                <td th:text="${worker.firstName}"/>
                <td th:text="${worker.lastName}"/>
                <td th:text="${worker.serial}"/>
                <td th:text="${worker.number}"/>
                <td th:text="${worker.cityName}"/>
                <td style="width: 10%">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a class="btn btn-warning button-fixed button-sm"
                           th:href="@{/worker/edit/{id}(id=${worker.id})}">
                            <i class="fa fa-pencil" aria-hidden="true"></i> Изменить
                        </a>
                        <button type="button" class="btn btn-danger button-fixed button-sm"
                                th:attr="onclick=|confirm('Удалить запись?') && document.getElementById('remove-${worker.id}').click()|">
                            <i class="fa fa-trash" aria-hidden="true"></i> Удалить
                        </button>
                    </div>
                    <form th:action="@{/worker/delete/{id}(id=${worker.id})}" method="post">
                        <button th:id="'remove-' + ${worker.id}" type="submit" style="display: none">
                            Удалить
                        </button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>