<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<div layout:fragment="content">
    <div th:text="${errors}" class="margin-bottom alert-danger"></div>
    <form action="#" th:action="@{/worker/{id}(id=${id})}" th:object="${workerDto}" method="post">
        <div class="mb-3">
            <label for="firstName" class="form-label">Имя</label>
            <input type="text" class="form-control" id="firstName" th:field="${workerDto.firstName}" required="true">
        </div>
        <div class="mb-3">
            <label for="lastName" class="form-label">Фамилия</label>
            <input type="text" class="form-control" id="lastName" th:field="${workerDto.lastName}" required="true">
        </div>
        <div class="mb-3">
            <label for="serial" class="form-label">Серия</label>
            <input type="text" class="form-control" id="serial" th:field="${workerDto.serial}" required="true">
        </div>
        <div class="mb-3">
            <label for="number" class="form-label">Номер</label>
            <input type="text" class="form-control" id="number" th:field="${workerDto.number}" required="true">
        </div>
        <div class="form-group col-md-4 mb-3">
            <label class="form-label">Город</label>
            <select class="form-control" th:field="${workerDto.city}">
                <option selected
                        th:each="city: ${cities}" th:text="${city.name}" th:value="${city.id}">
                </option>
            </select>
        </div>

<!--        <div class="mb-3 dropdown">-->
<!--            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--                Кнопка выпадающего списка-->
<!--            </button>-->

<!--                <select class="dropdown-menu" th:field="${workerDto.city}">-->
<!--                    <option class="dropdown-item"-->
<!--                            th:each="city: ${cities}" th:text="${city.name}" th:value="${city.id}">-->
<!--                    </option>-->
<!--                </select>-->
<!--          -->
<!--        </div>-->
        <div class="mb-3">
            <button type="submit" class="btn btn-primary button-fixed">
                <span th:if="${id == null}">Добавить</span>
                <span th:if="${id != null}">Обновить</span>
            </button>
            <a class="btn btn-secondary button-fixed" th:href="@{/worker}">
                Назад
            </a>
        </div>
    </form>
</div>
</body>
</html>